<form class="pt-4" role="form" (ngSubmit)="login()">
  <legend>Bienvenido a Facegular!</legend>

  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" class="form-control" name="username" [(ngModel)]="username" placeholder="Username">
    <label for="password">Password:</label>
    <input type="password" class="form-control" name="password" [(ngModel)]="password" placeholder="Password">
  </div>
  <p class="text-danger">{{errorMsg}}</p>
  <button type="submit" class="btn btn-primary">Login</button>
  <a [routerLink]="['/auth/register']"><button type="button" class="btn btn-primary" >Register</button></a>
</form>

<button class="btn btn-google mt-1" appGoogleLogin (loginOk)="loggedGoogle($event)" (loginError)="showError($event)">Google</button>
<!-- <button aeFbLogin [scopes]="['email', 'public_profile']" class="btn btn-primary" (loginOk)="loggedFacebook($event)"
(loginError)="showError($event)">
<i class="fa fa-facebook" aria-hidden="true"></i>
Facebook
</button> -->