<div class="container text-left">
  <span>Info Coleguilla:</span>
  <div class="contenedorInfo">
      <span class="col-md-12 mb-3 ml-3">{{col.name}} {{col.surname}}</span>
    <div class="row mb-3 ml-3 ">
      <img class="col-md-4" src="{{col.picture}}" alt="">
      <div class="col-md-8" *ngIf="isFriend">
        <p>{{col.id}}</p>
        <p>{{col.name}}</p>
        <p>{{col.surname}}</p>
      </div>
      <div class=" col-md-8 text-center btn-wrap" *ngIf="!isFriend">
        <a name="" id="" class="btn btn-secondary btn-mas" href="#" role="button">Solicitar Amistad</a>
      </div>
    </div>
  </div>
</div>

