<div class="card mt-3" style="width: 100%;" id="contenedor_historieta">
  <img class="card-img-top" [src]="post.picture">
  <div class="card-body">
    <div class="float-left mr-4 text-center">

      <img class="rounded-circle" style="width: 80px; height: 70px;" [src]="post.creator.picture" alt="">
      <div>
        <small>{{post.creator.name}} {{post.creator.surname}}</small>
      </div>
    </div>

    <div class="d-block ml-0">
      <img class="img-fluid mr-3 float-left" src={{post.creator.picture}} alt="Card image cap">
      <p class="card-text">{{post.text}}</p>
    </div>

  </div>
  <div>
      <button class="btn btn-success mr-3 float-right" (click)="showHideMap()">
          <i class="fas fa-map-marker-alt mr-3 text-danger"></i>Show Map</button>
      <button class="btn btn-danger mr-3 float-right" (click)="removePost()">
        <i class="fas fa-trash-alt mr-3"></i>Delete</button>
      <button class="btn btn-info mr-3 float-right" (click)="EditPost()">
        <i class="fas fa-edit mr-3"></i>Edit</button>
  </div>
  <div class="card-footer mt-1">

    <span class="ml-3 float-left"> {{post.created_at | date:'dd/MM/yyyy'}}</span>

    <small>
      <a class="float-right" href="">
        <i class="fas fa-hand-peace"></i>
      </a>
      <a class="mr-3 float-right" href="">
        <i class="fas fa-hand-rock"></i>
      </a>
      <a class="mr-3 float-right" href="">
        <i class="fas fa-thumbs-down"></i>
      </a>
    </small>
  </div>
  <!-- hidden map-->
  <div *ngIf="map" class="card mt-4">
    <div class="card-body p-0">
      <div id="gmap">
        <agm-map style="height: 30vh; width: 100%;" [zoom]="zoom" [latitude]="post.lat" [longitude]="post.lng">
          <agm-marker [latitude]="post.lat" [longitude]="post.lng"></agm-marker>
          <agm-info-window>The post has been created here!!</agm-info-window>
        </agm-map>
      </div>
    </div>
  </div>
  <!-- ******** -->
  
</div>