<div class="panel panel-default mt-5">
  <div class="panel-body h-100">
    <md-editor name="Content" [preRender]="preRenderFunc" [(ngModel)]="post.text" [height]="'200px'" maxlength="140"></md-editor>
    <label for="image">Image</label>
    <input type="file" class="form-control" ngModel name="image" (change)="changeImage(imageInput)" #image="ngModel" #imageInput
      [ngClass]="{'is-invalid': imageInput.files.length === 0 && image.touched,
              'is-valid': imageInput.files.length > 0 && image.touched}">
    <div class="invalid-feedback">An image is required.</div>
    <img [src]="post.picture" alt="" class="img-thumbnail">
    <button type="button" class="btn btn-primary float-sm-right" (click)="publicarHistorieta(post)" [disabled]="post.content == 0">
      Publicar Historieta
    </button>
  </div>
  <div>

  </div>
  
</div>