<div class="container">
  <div>
      <input type="text" id="from" name="from" [(ngModel)]="from" placeholder="Choose a nickname"/>
  </div>
  <br />
  <div>
      <button id="connect" (click)="connect()">Connect</button>
      <button id="disconnect" disabled="disabled" onclick="disconnect();">
          Disconnect
      </button>
  </div>
  <br />
  <div id="conversationDiv">
      <input type="text" id="text" [(ngModel)]="text" name="text" placeholder="Write a message..."/>
      <button id="sendMessage" onclick="sendMessage();">Send</button>
      <p id="response"></p>
  </div>
</div>