<div class="row contColeguilla" >
  <div class="col-xs-12 col-sm-4 col-md-6  imgColeguilla">
    <img class="img-fluid" src={{col.picture}} alt="perfil">
  </div>
  <div class="col-xs-12 col-sm-8 col-md-6 contColeguilla2">
    <div class="col-xs-6 pt-2 h-50 text-left">
      <span>{{ col.name }} {{ col.surname }}</span>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12">
      <button *ngIf="solicitada" class="btn btn-outline-warning btn-block text-truncate" (click)="cancelarSolicitud()">Cancelar solicitud</button>
      <button *ngIf="!solicitada" class="btn btn-outline-warning btn-block text-truncate" (click)="aceptarSolicitud()">Aceptar amistad</button>
    </div>
 </div>

</div>
